{% extends "homepage/base.html" %}
{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}
{% block addscript %}
	<script src="/static/login.js"></script>
	<script src="/static/ffos.js"></script>
{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/app.css" /> <meta charset="UTF-8">
{% endblock %}
{% load nf_human %}
{% block facebook %}
{% endblock %}
{% block header %}
<div class="button" id="install-button" onclick="install();">Instala la aplicaci&oacute;n al celular</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block start_session %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Ingresa a Net Feeds</h1>
    
    <form method="post" action="{% url 'accounts.views.app_login' %}">
    {% csrf_token %}
        <div class="contact">
        <ul>
            {% if form.errors %}
                <p class="noteerror">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </p>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                <li class="required error">
                {% else %}
                <li class="required">
                {% endif %}
                    <p>{{ field.label_tag }}</p> 
                    <p>{{ field }}</p>
                    <p>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
        <input class="spacy" type="submit" value="Ingresar" />
        <input type="hidden" name="next" value="/wishlist/app/" />
        </div>
    </form>
{% endblock content %}
