{% extends "homepage/base.html" %}
{% block content %}
    <h1 class="day-title">Cuenta cerrada</h1>
    <p class="notification">Tu cuenta y todos sus datos fueron dados de baja.</p>
	<br/>
    <p class="notification"> Sigue disfrutando de lo <a class="button" href="/">último</a> que se agrego a Netflix. </p>
	<br/>
{% endblock content %}
