{% extends "homepage/base.html" %}
{% block addscript %}
	<script src="/static/login.js"></script>
{% endblock %}
{% block content %}
    <h1 class="day-title">Dar de baja</h1>
    <form action="/accounts/close/" method="post">{% csrf_token %}
        <div class="contact">
			<p class="notification important">
                        ¿Estás seguro que queres dar de baja tu cuenta de net-feeds.com?<BR></BR>
                        Lamentamos verte ir, pero igualmente nos gustar&iacute;a que nos digas el motivo de tu decisi&oacute;n.
			</p>
            <ul>
				{% for field in form %}
				<li class="{{ field.css_classes }} full-width">
				{{ field }} 
				<p>
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
					</p>
				</li>
				{% endfor %}
            </ul>
            <input type="submit" value="Confirmar" />
        </div>
    </form>
{% endblock content %}
