{% load url from future %}
<html>
<head>
</head>
<body>
    <table cellspacing="0" cellpadding="0" align="center" style="width: 550px; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; border-spacing: 0; font-size: 13px; color: #333333;">
        <tbody>
            <tr>
                <td style="font-size: 40px; font-weight: bold; font-family: Verdana; color: #B8080A"><img src="http://net-feeds.com/static/logo.png" border="0" title="net-feeds.com" alt="net-feeds.com">NET FEEDS</td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" style="border: 1px solid #CCCCCC; padding: 0; margin: 0; margin-top: 10px; border-spacing: 0; font-size: 13px; color: #333333;">
                        <tbody>
                            <tr>
                                <td style="padding: 10px;">
                                    <p>Hola {{ user.username }},</p>
                                    <p style="margin:20px 0 30px 0; text-align:center;" class="button">
                                        <a href="{{ protocol }}://{{ domain }}{% url 'accounts.views.signup_confirm' uidb36=uid token=token %}" alt="Recuperar clave" title="Recuperar clave" style="font-family:Arial, Helvetica, sans-serif; background-color:#B8080A; color:#FFFFFF; text-decoration:none; font-weight:bold; border:6px solid #B8080A;">Activa tu cuenta</a>
                                    </p>
                                    <p>Si el botón no funciona, copia y pega esta dirección en tu navegador:</p>
									{{ protocol }}://{{ domain }}{% url 'accounts.views.signup_confirm' uidb36=uid token=token %}
									<p>
									Una vez que hayas visitado el link tu cuenta estará activa.</br>

									¡Gracias por registrarte en Net Feeds!</br></br>


									Cualquier duda o sugerencia puedes escribirnos a feedback@net-feeds.com
									</p>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px;">www.net-feeds.com<br></td>
                            </tr>
                            <tr style="width: 550px; border: 0; padding: 0; border: 0;">
                                <td style="padding: 0; margin: 0; border: 0;">
                                    <img src="http://net-feeds.com/static/footer_decor.gif" width="550" height="9" style="margin: 0; padding: 0; vertical-align: bottom;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 11px; color: #666666; text-align: center; padding-top: 15px;">
                    No respondas este e-mail.
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

