{% extends "homepage/base.html" %}
{% block addscript %}
	<script src="/static/login.js"></script>
{% endblock %}
{% block start_session %}
    <a href="/accounts/signup/" class="button right">Registrarse</a>
{% endblock %}
{% block content %}
    <h1 class="day-title">Ingresa a Net Feeds</h1>
    
    <form method="post" action="{% url 'accounts.views.login' %}">
    {% csrf_token %}
        <div class="contact">
        <p class="note">¿Todavía no tenes un usuario? <a href="/accounts/signup/"> Crea uno ahora</a></p>
        <ul>
            {% if form.errors %}
                <p class="noteerror">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </p>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                <li class="required error">
                {% else %}
                <li class="required">
                {% endif %}
                    {{ field.label_tag }} {{ field }} 
                    <p>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
        <p class="note tiny">¿Olvidaste tu contraseña? <a href="/accounts/password/reset"> Recuperar</a></p>
        <input class="spacy" type="submit" value="Ingresar" />
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
{% endblock content %}
