{% extends "homepage/base.html" %}
{% block content %}
    <h1 class="day-title">Actualizacion de correo electronico</h1>
    <p class="notification">Te hemos enviado un email a la cuenta que ingresaste. Por favor sigue el link del mail para completar la actualizacion.</p>
	<br/>
    <p class="notification"> Mientras tanto ¿por qué no miras lo <a class="button" href="/">último</a> que se agrego? </p>
	<br/>
{% endblock content %}
