{% extends "homepage/base.html" %}
{% block addscript %}
	<script src="/static/login.js"></script>
{% endblock %}
{% block content %}
    <h1 class="day-title">Actualizar contraseña</h1>
    
    <form method="post" action="{{ request.path }}">
    {% csrf_token %}
        <div class="contact">
        <ul>
            {% if form.errors %}
                <p class="noteerror">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </p>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                <li class="required error">
                {% else %}
                <li class="required">
                {% endif %}
                    {{ field.label_tag }} {{ field }} 
                    <p>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Continuar" />
        </div>
    </form>
{% endblock content %}

