{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Recuperar contraseña</h1>
    <p>Las instrucciones para re-establecer tu contraseña fueron enviadas a tu correo electrónico.</p>
    <p class="note"><a href="/">Volver</a></p>
{% endblock content %}
