{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Contraseña Actualizada</h1>
    <p>Tu contraseña fue actualizada con exito.</p>
    <p class="note"><a href="/accounts/login">Iniciar sesión</a></p>
{% endblock content %}
