{% extends "homepage/base.html" %}
{% block addscript %}
<script src="/static/login.js"></script>
{% endblock %}
{% block content %}
<h1 class="day-title">Datos de cuenta</h1>
<form action="/accounts/profile/" method="post">{% csrf_token %}
    <div class="login">
        <ul>
            <li class="{{ form.name.css_classes }}">
            {{ form.name.label_tag }} {{ form.name }}
            <p>
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
            <li class="{{ form.last_name.css_classes }}">
            {{ form.last_name.label_tag }} {{ form.last_name }}
            <p>
            {% for error in form.last_name.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
            <li class="{{ form.email.css_classes }}">
            {{ form.email.label_tag }} {{ form.email }}
            <p>
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
            <li class="{{ form.send_mails.css_classes }}">
            {{ form.send_mails.label_tag }} {{ form.send_mails }}
            <p>
            {% for error in form.send_mails.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
        </ul>
        <input class="right" type="submit" name="profile_update" value="Salvar" />
    </div>
</form>
<form class="top-space" action="/accounts/profile/" method="post">{% csrf_token %}
    <div class="login">
        <ul>
            <p><h3>Actualizar contraseña</h3></p>
            <li class="{{ pwd_form.password.css_classes }}">
            {{ pwd_form.password.label_tag }} {{ pwd_form.password }}
            <p>
            {% for error in pwd_form.password.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
            <li class="{{ pwd_form.verify.css_classes }}">
            {{ pwd_form.verify.label_tag }} {{ pwd_form.verify }}
            <p>
            {% for error in pwd_form.verify.errors %}
            {{ error }}
            {% endfor %}
            </p>
            </li>
        </ul>
        <input class="right" type="submit" name="pwd_update" value="Actualizar" />
    </div>
</form>
<p class="delete-account">Puedes <a href="/accounts/close/">borrar tu cuenta</a> si asi lo deseas.</p>
{% endblock content %}
