{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Error al activar cuenta</h1>
    <p class="notification">Hubo un error al activar tu cuenta, chequea si ingresaste al link correcto.</p>
	<br/>
    <p class="notification">  Si aun tienes problemas <a class="button" href="/feedback/">envianos</a> un mensaje.</p>
	<br/>
{% endblock content %}
