{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Cuenta activada</h1>
    <p class="notification">Gracias por registrarte a net-feeds.com.</p>
	<br/>
    <p class="notification">  <a class="button" href="/accounts/login/">Inicia</a> sesion para hacer uso de la funcion de "Ver mas tarde".</p>
	<br/>
{% endblock content %}
