{% extends "homepage/base.html" %}
{% block addscript %}
	<script src="/static/login.js"></script>
{% endblock %}
{% block content %}
    <h1 class="day-title">Crea un usuario Net Feeds</h1>
    <form action="/accounts/signup/" method="post">{% csrf_token %}
		<div class="login">
			<ul>
			{% for field in form %}
            <li class="{{ field.css_classes }}">
			{{ field.label_tag }} {{ field }}
            <p> {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            </li>
			{% endfor %}
			</ul>
			<input class="right" type="submit" value="Crear" />
		</div>
    </form>
{% endblock content %}
