{% load nf_human %}
<table id="calendar">
	<thead class="title">
		<tr>
			<th><a href="#" onclick='changeCalendar("prev", {{ date|date:"Y, n" }})'>&lt;</a></th>
			<th colspan="5">{{ date.month|to_string }}</th>
			<th><a href="#" onclick='changeCalendar("next", {{ date|date:"Y, n" }})'>&gt;</a></th>
		</tr>
		<tr>
			<th>L</th>
			<th>M</th>
			<th>M</th>
			<th>J</th>
			<th>V</th>
			<th>S</th>
			<th>D</th>
		</tr>
	</thead>
	<tbody>
{% for week in diary %}
	<tr>
		{% for day in week %}
			{% if day != 0 %}
				{% if day|length_is:"2" %}
				<td class="highlight {% if day.0 == today.day and date.month == today.month %}today{% endif %}" >
					<a onclick="_gaq.push(['_trackEvent', 'calendar', 'clicked'])" href="{{ day.1 }}">
					<div>
                    {{ day.0 }}
					</div>
				</a>
				</td>
				{% else %}
				<td {% if day == today.day and date.month == today.month %} class="today" {% endif %}>
					{{ day }}
				</td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
	</tbody>
</table>
