<!DOCTYPE HTML>
<html lang="sp">
<head>
	{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css?v1.1" /> <meta charset="UTF-8">
	{% endblock %}
	{% block meta %}
	{% endblock %}
	<!-- Facebook meta info -->
	<meta property="og:title" content="Net Feeds" />
	<meta property="og:type" content="movie" />
	{% block facebook %}
	<meta property="og:image" content="http://www.net-feeds.com/static/logo.png" />
	<meta property="og:url" content="http://www.net-feeds.com/" />
	{% endblock %}
	<meta property="og:site_name" content="Net Feeds" />
	<meta property="fb:admins" content="100003515289749" />

	<!-- G+ info -->
	<meta itemprop="name" content="Net Feeds">
	<meta itemprop="description" content="Te trae las novedades de Netflix Latinoamérica">
	{% block googleplus %}{% endblock %}

    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
    <script src="/static/net.js?v1.0"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27984531-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<!-- ad sense -->
	<script type="text/javascript"><!--
		google_ad_client = "ca-pub-4032312007060539";
		/* sidebar */
		google_ad_slot = "4048702528";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
	</script>

	{% block addscript %} {% endblock %}

    <title>{% block title %}Net Feeds: Actualizaciones de Netflix Latinoamérica{% endblock %}</title>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
    <div id="header">
	{% block header %}
        <div class="mainpage">
			<h1><a href="/"><img class="logo" src="http://www.net-feeds.com/static/logo.png" />NET FEEDS</a></h1><span class="subtitle">Te trae las novedades de Netflix Latinoamérica</span>
            {% block start_session %}
            {% if user.is_authenticated %}
				<nav class="user right">
				<ul>
					<li>
					<a class="button">{{ user.username }} &#x25BC;</a>
					<ul>
						<li>
						<a href="/wishlist/view">Lista de deseos</a>
						</li>
						<li>
						<a href="/accounts/profile/">Perfil</a>
						</li>
						<li>
						<a href="/accounts/logout" class="sep">Cerrar sesión</a>
						</li>
					</ul>
					</li>
				</ul>
				</nav>
            {% else %}
                <a href="/accounts/login?next={{ request.path }}&from=topbar" class="button right">Iniciar sesión</a>
            {% endif %}
            {% endblock %}
        </div>
	{% endblock %}
    {% block navbar %}
	<div id="navbar">
		<ul>
			<a href="/"><li>Novedades</li></a>
            <a href="/duedates/"><li>Vencimientos ({{due_dates_count}})</li></a>
            {% if user.is_authenticated %}
			<a href="/wishlist/view/"><li>Lista de deseos</li></a>
			{% endif %}
		</ul>
	</div>
    {% endblock %}
    </div>
    <div class="mainpage box">
        <div id="content">
            {% block content %} {% endblock %}
        </div>

        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
	{% block footer %}
        <div>
		<ul class="footer">
			<li class="footer">Copyright &copy; 2012 Net Feeds</li>
			<li class="footer">Los derechos de reproducci&oacute;n de las peliculas y series son de sus respectivos due&ntilde;os</li>
			<li class="footer">Netflix es marca registrada de Netflix, Inc</li>
		</ul>
        </div>
	{% endblock %}

	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
		window.___gcfg = {lang: 'es-419'};

		(function() {
		  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		  po.src = 'https://apis.google.com/js/plusone.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>

    </div>
    <span id="add-tooltip">
        <a href="/accounts/login?next=/&from=add-button">Inicia sesion</a> para guardar peliculas.
    </span>
</body>
</html>
