{% extends "homepage/content.html" %}
{% load nf_human %}
{% block facebook %}
    {% if date.year %}
        <meta property="og:url" content="http://www.net-feeds.com/{{ date|date:'Y/n/j' }}" />
    {% endif %}
	{% for movie in added %}
		<meta property="og:image" content="{{ movie.pic_url }}" />
	{% endfor %}
{% endblock %}
{% block title %}Net Feeds: 
{% if title %}
    {{ title }} 
{% else %}
    {{ date|to_string }}
{% endif %}
{% endblock %}
{% block content %}
<h1 class="day-title" >
{% if title %}
    {{ title }} 
{% else %}
    {{ date|to_string }}
{% endif %}
</h1>
<div class="infoContainer w4" id="{{ view_id }}" >
{% for movie in added %}
    {% include "homepage/info_detail.html" %}
{% empty %}
{% if view_id == 'wishlist' %}
Tu lista de pel&iacute;culas para ver despues est&aacute; vac&iacute;a.
{% elif is_due_date %}
No hay pr&oacute;ximos vencimientos hasta la fecha.
{% else %}
Ninguna pel&iacute;cula fue agregada en esta fecha.
{% endif %}
{% endfor %}
</div>
{% endblock content %}
