<div class="movie" uid={{movie.uid}}>
    <div class="movieInfo">
        <h2 class="title"><a onclick="_gaq.push(['_trackEvent', 'title', 'clicked', 'day'])" href="http://movies.netflix.com/WiMovie/{{ movie.uid }}" target="_blank" title="{{ movie.title }}" ><div>{{ movie.title }}</div></a></h2>
		{% if movie.due_date %}
                <p class="availability">Disponible hasta: {{ movie.due_date }}</p>
		{% endif %}
    </div>
	<div class="thumb detail" style="background-image:url('{{ movie.pic_url }}')" title="{{ movie.title }}" >
        <div title="Agregar a la lista de deseos" class="list-button list-add button-right hide" uid="{{ movie.uid }}"></div>
	    {% if movie.new_episode %}
		<img class="overlap" src="/static/new_episodes.png"/>
	    {% endif %}
	</div>
    <a class="spacy button" onclick="removeFromWishList({{movie.uid}});">Remover</a>
</div>

