<div class="movie">
    <a onclick="_gaq.push(['_trackEvent', 'image', 'clicked', 'day']); window.open('http://movies.netflix.com/WiMovie/{{ movie.uid }}');" target="_blank" name="{{ movie.uid }}">
	<div class="thumb detail" style="background-image:url('{{ movie.pic_url }}')" title="{{ movie.title }}" >
        <div title="Agregar a la lista de deseos" class="list-button list-add button-right hide" uid="{{ movie.uid }}"></div>
	    {% if movie.new_episode %}
		<img class="overlap" src="/static/new_episodes.png"/>
	    {% endif %}
	</div>
    </a>
    <div class="movieInfo">
        <h2 class="title"><a onclick="_gaq.push(['_trackEvent', 'title', 'clicked', 'day'])" href="http://movies.netflix.com/WiMovie/{{ movie.uid }}" target="_blank" title="{{ movie.title }}" ><div>{{ movie.title }}</div></a></h2>
		{% if movie.due_date and movie.due_date >= today %}
	    <p class="not-that-wide">{{ movie.synopsis }}</p>
	        <p class="availability">Disponible hasta: {{ movie.due_date }}</p>
			{% else %}
	    <p class="wide">{{ movie.synopsis }}</p>
            {% endif %}
	    <div class="little">
			<span>
				{% if movie.rotten_score != -1 and movie.rotten_score %}
				<a onclick="_gaq.push(['_trackEvent', 'rotten', 'clicked', 'day'])" href="{{ movie.rotten_url }}" target="_blank" class="score"><span class="score"><img src="/static/tomato.png"/>{{ movie.rotten_score }}</span></a>
				{% endif %}
				<a onclick="_gaq.push(['_trackEvent', 'watch', 'clicked', 'day'])" href="http://movies.netflix.com/WiMovie/{{ movie.uid }}" target="_blank">Miralo en netflix</a>
			</span>
	    </div>
    </div>
</div>

