{% extends "homepage/content.html" %}
{% load nf_human %}
{% block facebook %}
	<meta property="og:url" content="http://www.net-feeds.com/" />
	<meta property="og:image" content="{{ info.pic_url }}" />
{% endblock %}
{% block title %}Net Feeds: {{ info.title }} {% endblock %}
{% block content %}
<div class="infoContainer w4">
<div class="movie">
	<a onclick="_gaq.push(['_trackEvent', 'image', 'clicked', 'info'])" href="http://movies.netflix.com/WiMovie/{{ info.uid }}" target="_blank" name="{{ info.uid }}">
		<div class="thumb detail" style="background-image:url('{{ info.pic_url }}')" title="{{ info.title }}" >
		</div>
    </a>
	<div class="movieInfo">
        <h2 class="title"><a onclick="_gaq.push(['_trackEvent', 'title', 'clicked', 'day'])" href="http://movies.netflix.com/WiMovie/{{ info.uid }}" target="_blank" title="{{ info.title }}" ><div>{{ info.title }}</div></a></h2>
		<p class="wide">{{ info.synopsis }}</p>
		<div class="little">

			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Agregaron '{{ info.title }}' en #Netflix" data-via="NetFeeds" data-lang="es" data-count="none">Twittear</a>
			<div class="g-plusone" data-size="medium" data-annotation="none" data-expandTo="right" data-href="http://www.net-feeds.com/{{ info.uid }}"></div>

			<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" data-href="http://www.net-feeds.com/{{ info.uid }}"></div>
			<a onclick="_gaq.push(['_trackEvent', 'watch', 'clicked', 'day'])" href="http://movies.netflix.com/WiMovie/{{ info.uid }}" target="_blank">Miralo en netflix</a>
	</div>
    </div>
</div>
</div>
{% endblock content %}
