{% load nf_human %}
{% for group in info_list %}
<div class="day-update">
{% with today=group.0.timestamp %}
<h1 class="day-title"><a onclick="_gaq.push(['_trackEvent', 'day', 'clicked'])" href="{{ today|date:"Y/n/j" }}"><div>{{ today|to_string }}</div></a></h1>
    {% if group|length > 3 %}
        <div class="infoContainer w4">
    {% else %}{% if group|length > 2 %}
        <div class="infoContainer w3">
    {% else %}{% if group|length > 1 %}
        <div class="infoContainer w2">
    {% else %}
        <div class="infoContainer">
    {% endif %}{% endif %}{% endif %}
    {% for info in group %}
	<a onclick="_gaq.push(['_trackEvent', 'image', 'clicked', 'homepage']);window.open('/{{ today|date:"Y/n/j" }}#{{ info.uid }}');">
        {% if info.new_episode %}
        <div title="{{ info.title }}" style="background-image:url('/static/new_episodes.png'), url('{{ info.pic_url }}');" class="small two">
        {% else %}
        <div title="{{ info.title }}" style="background-image:url('{{ info.pic_url }}');" class="small">
        {% endif %}
		<div title="Agregar a la lista de deseos" class="list-button list-add hide" uid="{{ info.uid }}"></div>
        </div>
    </a>
    {% endfor %}
        </div>
{% endwith %}
</div>
{% endfor %}
