{% if movies %}
    <h1>Películas:</h1>
{% endif %}
{% for movie in movies %}
    <h2><a href="http://movies.netflix.com/WiMovie/{{ movie.uid }}">{{ movie.title }}</a></h2>
    <p>
        <img src="{{ movie.pic_url }}"></img>
    </p>
    <p>{{ movie.synopsis }}</p>
{% empty %}
{% endfor %}

{% if series %}
    <h1>Series:</h1>
{% endif %}
{% for serie in series %}
    <h2><a href="http://movies.netflix.com/WiMovie/{{ serie.uid }}">{{ serie.title }}</a></h2>
    <p>
        <img src="{{ serie.pic_url }}"></img>
    </p>
    <p>{{ serie.synopsis }}</p>
{% empty %}
{% endfor %}

{% if episodes %}
    <h1>Episodios:</h1>
{% endif %}
{% for episode in episodes %}
    <h2><a href="http://movies.netflix.com/WiMovie/{{ episode.uid }}">{{ episode.title }}</a></h2>
    <p>
        <img src="{{ episode.pic_url }}"></img>
    </p>
    <p>{{ episode.synopsis }}</p>
{% empty %}
{% endfor %}
