{% extends "homepage/content.html" %}
{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}
{% block addscript %}
	<script src="/static/ffos.js"></script>
{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/app.css" /> <meta charset="UTF-8">
{% endblock %}
{% load nf_human %}
{% block facebook %}
{% endblock %}
{% block header %}
<div class="button" id="install-button" onclick="install();">Instala la aplicaci&oacute;n al celular</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block title %}
{% if title %}
    {{ title }} 
{% else %}
    {{ date|to_string }}
{% endif %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<h1 class="day-title" >
{% if title %}
    {{ title }} 
{% else %}
    {{ date|to_string }}
{% endif %}
</h1>
<div class="infoContainer w4" id="{{ view_id }}" >
{% for movie in added %}
    {% include "homepage/info_detail_app.html" %}
{% empty %}
Ya has visto todas las peliculas que alguna vez deseaste.
{% endfor %}
</div>
{% endblock content %}
