{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Sugerencia no enviada</h1>
    <p>Por el momento no podemos recibir tus sugerencias, intentalo mas tarde.</p>
    <p class="note"><a href="/">Volver</a></p>
{% endblock content %}
