{% extends "homepage/base.html" %}
{% block addscript %}
	<script src="/static/login.js"></script>
{% endblock %}
{% block content %}
    <h1 class="day-title">Sugerencias</h1>
    <form action="/feedback/" method="post">{% csrf_token %}
        <div class="contact">
			<p class="notification important">
			Recuerda que no estamos asociados a NetFlix, y por lo tanto no podemos hacer nada respecto a la programaci&oacute;n<br/><br/>
			Por favor solo envianos sugerencias sobre el sitio Net Feeds.
			</p>
            <ul>
				{% for field in form %}
				<li class="{{ field.css_classes }}">
				{{ field.label_tag }} {{ field }} 
				<p>
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
					</p>
				</li>
				{% endfor %}
            </ul>
            <input type="submit" value="Enviar" />
        </div>
    </form>
{% endblock content %}
