{% extends "homepage/base.html" %}
{% block addscript %}
{% endblock %}
{% block content %}
    <h1 class="day-title">Sugerencia enviada</h1>
    <p class="notification">Gracias por tus sugerencias, te responderemos cuanto antes.</p>
	<br/>
    <p class="notification"> Mientras tanto ¿por qué no miras lo <a class="button" href="/">último</a> que se agrego? </p>
	<br/>
{% endblock content %}
