body {
	background-color: #f1f1f1;
	font-family: "Verdana", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type:none;
}

.error input, .error textarea {
	border: 1px solid #b8080a !important;
}

input[type=text],[type=password] {
	color: #333;
	font-size:1.3em;
	border: 1px solid #f1e8e8;
	margin:1px;
	border-radius:5px;
	height:1.5em;
	width:320px;
	padding:0 3px;
}

.spacy {
    margin: 10px 0px;
}

div.movie {
    opacity:1;
	transition:opacity linear 0.3s;
}

div.movie.hide {
	opacity:0;
	transition:opacity linear 0.3s;
}

.contact ul {
	padding: 0;
	width:320px;
	margin: 0 auto;
}

.contact label {
    font-weight:bolder;
}

.movie .button {
	text-align:center;
}

input[type=submit], .button {
    color: #b8080a;
	padding:5px;
	border:1px solid #ecdada;
	border-radius:3px;
	margin: 10px auto;
	width:320px;
	display:block;
}

.day-title {
	text-align:center;
	border-top:1px solid #e8c7c7;
	border-bottom:1px solid #f1f1f1;
	padding:3px;
    color: #b8080a;
	font-size: 1.42em;
}

h2.title {
	/*height:1.2em;*/
	margin:0;
	overflow:hidden;
	font-size: 1.1em;
}

.title {
    background-color: #B8080A;
    color: white;
	text-align:center;
}

.title a {
    color:white;
}

div.thumb {
    /*width:210px;*/
    /*height:270px;*/
    display:inline;
}

.infoContainer div[style] {
    width:166px;
    height:236px;
	display:block;
	background-repeat:no-repeat;
	background-position:center center;
	margin:1em auto;
}

.infoContainer div[style].detail {
	background-size: 100% 100%;
}

#add-tooltip {
	display:none;
}

#footer {
    margin: 0px auto;
}

#footer div {
    border-top: 1px solid #DDD;
}

ul.footer {
	list-style-type:none;
	margin:10px 0;
	padding:0;
	font-family:verdana;
	text-align:center;
	color:gray;
}

li.footer {
	display:inline;
	font-size:0.6em;
}

#footer li + li:before {
    content: " | ";
    padding: 0 6px;
}

#install-button {
	text-align:center;
	background-color: #eacc26;
    font-weight:bolder;
}
