/*@media screen{*/
    /*body>div#header{*/
        /*position: fixed;*/
    /*}*/
/*}*/

body {
	background-color: #f1f1f1;
    width:100%;
	margin:0;
	padding:0;
	font-family: "Verdana", sans-serif;
}

.mainpage {
    width: 1040px;
    margin: 0px auto;
}

#navbar {
	border-top: 1px solid #cdbbbb;
	border-bottom: 1px solid #cdbbbb;
	background-color:#f1e8e8;
	height:30px;
}

#navbar ul:first-child {
	border-left: 1px solid #cdbbbb;
}

#navbar ul {
	width: 1000px;
	margin: 0px auto;
	padding:0;
	height:30px;
	list-style:none outside none;
}

.selected {
	font-weight: bolder;
	background-color: #f1f1f1;
	padding-bottom: 1px !important;
}

#navbar ul li {
	left:0;
	margin:0;
	padding:0;
	border-right: 1px solid #cdbbbb;
	display:block;
	text-align:center;
	height:24px;
	width:180px;
	padding-top:6px;
	float:left;
}

#navbar ul a {
    color: #b8080a;
	margin:0px;
	padding:0px;
}

#navbar ul a li:hover {
	background-color: #f1f1f1;
}

#header {
	background-color:#f1e8e8;
	color:white;
	text-align:left;
	height:60px;
    width: 100%;
	border-bottom-style:solid;
	border-color:#cdbbbb;
	border-width:1px;
    z-index:1500;
    top: 0;
    left: 0;
}

#header h1 {
	margin-top:0px;
    margin-bottom:0px;
	margin-left:40px;
	padding-top:10px;
	font-size:2.5em;        
	display:inline-block;
}

.note {
	color: #444;
	font-size:0.8em;
	text-align:right;
	margin:0;
}

.note a {
    color: #b8080a;
}

.subtitle {
    color: #b8080a;
	margin-left: 10px;
	font-size:0.8em;
	font-style:italic;
}

.subtitle:after {
	content: close-quote;
}

.subtitle:before {
	content: open-quote;
}

a {
	text-decoration:none;
	color:black;
    overflow:hidden;
	cursor:pointer; 
}

div.movie span {
    width:200px;
}

img.overlap {
    z-index: 900;
	position:relative;
	top:200px;
	left:28px;
}

#header h1 a {
    color: #b8080a;
}

#content {
    width:800px;
    float: left;
}

#sidebar {
    width: 240px;
    float:left;
}

img.logo {
    padding-right:10px;
}

.small:hover {
	background-color: #b8080a;
}

.box {
    margin-top: 50px;
}

.big {
    width:392px;
    height:500px;
    float:left;
    padding:2px;
    outline: #bfbcb9 solid 1px;
    margin-right:4px;
}

.infoContainer div[style].detail {
    width:210px;
    height:270px;
	box-shadow:0px 0px 2px 0px #000000;
	background-size: 100% 100%;
}

.infoContainer div[style] {
    width:166px;
    height:236px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center center;
}

.infoContainer div[style].two {
	background-position:7px 204px, center center;
}

.infoContainer {
    width:181px;
    margin: 20px auto;
}

.w2 {
    width:362px;
}

.w3 {
    width:550px;
}

.w4 {
    width:730px;
}

.w5 {
    width:800px;
}

.tiny {
    font-size: 0.6em;
}

.small {
    padding:2px;
    display:inline;
    outline: #bfbcb9 solid 1px;
    margin:4px;
}

.vertical {
	display:block;
}

.info {
	background-color: #fdfdfd;
	float:right;
	display:inline;
}

.only {
	margin-right:2px;
}

.day-title {
	text-align:center;
	border-top:1px solid #e8c7c7;
	border-bottom:1px solid #f1f1f1;
	padding:3px;
    color: #b8080a;
	font-size: 1.42em;
}

.day-title a {
    color: #b8080a;
}

.title {
    background-color: #B8080A;
    color: white;
	text-align:center;
}

.title a {
    color:white;
}

div.thumb {
    width:210px;
    height:270px;
    display:inline;
	box-shadow:0px 0px 2px 0px #000000;
	margin-bottom: 10px;
}

.movieInfo {
	width:500px;
	float:right;
}

.movieInfo .title {
	width:500px;
    clear:both;
}

.movie {
	margin-bottom:15px;
}

.little {
	font-size:0.6em;
	text-align:right;
}

.little a {
	color:red;
	padding:5px;
	border:1px solid #ecdada;
	border-radius:3px;
	margin-right:10px;
}

.little a.score {
	border: none;
	padding:0;
}

.little a.score:hover {
	border: none;
	box-shadow:none;
}

.little a:hover {
	border-radius:3px;
	box-shadow:0px 0px 1px 0px #999;
}

h2 {
	border-radius:3px;
}

h2.title {
	height:23px;
	margin:0;
	overflow:hidden;
	font-size: 1.1em;
}

p {
	margin-left:5px;
	margin-right:5px;
	text-align:justify;
}

.small p {
	font-size:0.9em;
}

.score {
	font-weight:bold;
	color:green;
	font-size:14px;
}

.score > img {
	width:20px;
	height:20px;
	margin-right:5px;
	margin-bottom:-3px;
}

p.wide {
	height:216px;
	margin-bottom:0px;
	overflow:auto;
}

p.not-that-wide {
	height:172px;
	margin-bottom:0px;
	overflow:auto;
}

.highlight {
	background-color: #dbe30a;
	color:black;
}

.today {
    border:2px solid #B8080A;
}

#calendar_cont {
    width: 200px;
    height: 200px;
}

#sidebar > img {
	top:1.5em;
	left:245px;
	position:relative;
}

#sidebar > img:hover {
	cursor:pointer;
}

#calendar {
    width: 200px;
	margin-left:40px;
}

div.login {
	margin:0 auto;
	width:600px;
}

.login input[type=text],[type=password] {
	color: #333;
	font-size:1.3em;
	border: 1px solid #f1e8e8;
	margin:1px;
	border-radius:5px;
	height:1.5em;
	width:350px;
	padding:0 3px;
}

.login input[type=checkbox] {
	height:1.5em;
    margin:0.8em;
}

.button {
    margin:16px 0px 0px;
    font-weight:bolder;
    font-size:0.8em;
}

.login input[type=text]:focus,[type=password]:focus {
	border: 1px solid #eccece;
	box-shadow:0px 0px 5px 5px #f1e8e8;
	border-radius:5px;
}

.right {
    float:right;
}

.user {
    padding:5px;
    color:black;
}

.login input[type=submit], .button {
    color: #b8080a;
	padding:5px;
	border:1px solid #ecdada;
	border-radius:3px;
	margin-bottom:5px;
}

.login input[type=submit]:hover, .button:hover {
	box-shadow:0px 0px 1px 0px #999;
	border-radius:3px;
	cursor:pointer;
}

p.notification {
    margin: 0px auto;
    width: 550px;
}

p.important {
    margin: 0px 0px 0px auto;
	font-size:0.9em;
	color:#681717;
}

.user sbuttonpan {
    margin-right:20px;
    cursor:pointer;
}

.login ul {
	margin:5px 0;
}

.login label {
	width:190px;
	text-align:right;
	float:left;
	margin:0.7em 10px 0 0;
	font-size:0.9em;
}

div.contact {
	margin:0 auto;
	width:600px;
}

.contact input[type=text],[type=text], textarea {
	color: #333;
	font-size:1.3em;
	border: 1px solid #f1e8e8;
	margin:1px;
	border-radius:5px;
	height:1.5em;
	width:350px;
	padding:0 3px;
}

.contact textarea {
	height: auto;
}

.contact input[type=text]:focus, .contact input[type=text]:focus, .contact textarea:focus {
	border: 1px solid #eccece;
	box-shadow:0px 0px 5px 5px #f1e8e8;
	border-radius:5px;
}

.contact input[type=submit] {
	float:right;
	color: #b8080a;
	padding:5px;
	border:1px solid #ecdada;
	border-radius:3px;
	margin-bottom:5px;
}

.spacy {
    margin: 10px 0px;
}

.contact input[type=submit]:hover {
	box-shadow:0px 0px 1px 0px #999;
	border-radius:3px;
	cursor:pointer;
}

.contact ul {
	margin:5px 0;
}

.contact label {
	width:190px;
	text-align:right;
	float:left;
	margin:0.7em 10px 0 0;
	font-size:0.9em;
}

.required label {
	font-weight: bold;
}

.error p {
	color: #ff0000;
	font-size: 0.6em;
	margin:1px;
	clear:both;
	text-align:right
}

.noteerror {
	color: #ff0000;
	font-size: 0.6em;
	margin:1px;
	clear:both;
	text-align:right
}

.error input, .error textarea {
	border: 1px solid #b8080a !important;
}

.error input:focus, .error textarea:focus {
	border: 1px solid #b8080a !important;
}

li {
	list-style-type:none;
}

table {
	box-shadow:0px 0px 3px 0px #666;
}

#calendar table {
    margin: 0px auto;
}

tbody {
	background-color: #fdfdfd;
}

table {
	border-collapse:collapse;
}

table, td, thead {
    text-align:center;
    border: 1px solid #aaa;
	border-radius:3px;
}

td {
	color:black;
	width:30px;
	height:20px;
}

.feedback {
	position:fixed;
	right:10px;
	bottom:5px;
	background-color:#6a6464;
	color:white;
	width:150px;
	margin-right:auto;
	margin-left:auto;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-family:sans-serif;
	font-size:0.9em;
	overflow:hidden;
}

#footer {
    width: 800px;
    padding-right: 200px;
    margin: 0px auto;
}

#footer div {
    border-top: 1px solid #DDD;
    clear: both;
}

ul.footer {
	width:60%;
	list-style-type:none;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
	font-family:verdana;
	text-align:center;
	color:gray;
}

li.footer {
	display:inline;
	font-size:0.6em;
}

#footer li + li:before {
    content: " | ";
    padding: 0 6px;
}

#follow_us {
	text-align:right;
	font-family: monospace;
    color: #b8080a;
}

#follow_us img {
	vertical-align: middle;
}

IFRAME.twitter-share-button.twitter-count-none, div.little > div {
	vertical-align: middle !important;
}

.wait {
    background:url("/static/loading.gif") center right no-repeat;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

.fb-like {
    height:20px;
    overflow:hidden;
}

#sidebar-ad {
	float:right;
	margin-top:10px;
}

div.button-right {
    left:172px;
}

.hide {
	visibility:hidden;
}

.list-button {
	width:32px;
	height:32px;
	left:129px;
	top:5px;
	position:relative;
	opacity:0.3;
	transition-property: opacity;
	transition-duration: 0.3s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
}

div.small:hover .list-button, div.detail:hover .list-button {
	opacity:1;
	transition-property: opacity;
	transition-duration: 0.3s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
}

.list-add {
	background:url('/static/list-add.png') no-repeat -32px;
}

div.small:hover .list-add, div.detail:hover .list-add {
	background:url('/static/list-add.png') no-repeat 0px;
}

.list-remove {
	background:url('/static/list-remove.png') no-repeat -32px;
}

.list-remove:hover {
	background:url('/static/list-remove.png') no-repeat 0px;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	padding: 0;
	margin: 0;
	width: 150px;
}

nav ul ul {
	display: none;
}

nav.show ul li > ul {
	display:block;
	border:1px solid #ecdada;
	background-color: #f1f1f1;
}

nav ul ul li a:hover {
	background-color:#f1e8e8;
}

nav ul:after {
	content: " ";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
}

nav ul ul {
	padding: 0;
	position: absolute;
	top: 90%;
}

nav ul ul li {
	float: none;
	position: relative;
}

nav ul ul li a {
	padding: 5px 10px;
    font-weight:bolder;
    font-size:0.8em;
    color: #b8080a;
	cursor:pointer;
}

nav .sep {
	border-top:1px solid #ecdada;
	border-bottom:1px solid #ecdada;
}

h3 {
    color: #b8080a;
	border-top:1px solid #e8c7c7;
    text-align:center;
    padding-top:5px;
    font-size: 1em;
}

.delete-account {
    margin-top:100px;
    font-size:smaller;
    text-align:center;
}

.top-space {
    margin-top:60px;
}

.delete-account a {
    font-weight:bolder;
    color: #2E02C2;
}

.delete-account a:hover {
    text-decoration:underline;
}

.full-width textarea {
    width:100%;
}

#add-tooltip {
	padding:5px;
	font-size:0.7em;
	color: #b8080a;
	background-color:#f1e8e8;
	border:1px solid #ecdada;
}

#add-tooltip {
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.3s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
}

#add-tooltip.show {
	opacity:1;
	transition-property: opacity;
	transition-duration: 0.3s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
}

#add-tooltip a {
	color: inherit;
	cursor: pointer;
	font-weight:bolder;
}

.availability {
	font-size:smaller;
	color:#b8080a;
}
